*{
  margin: 0 auto;
  padding: 0 auto;
}
body{
  background: url(../images/dunia.jpeg);
  background-size: cover;
}
.login-form{
  margin-top: 20px;
  width: 538px;
  padding: 80px 30px;
}
.login{
  width: 100%;
  height: 35em;
  background-color: #F2F7FD;
  border-radius: 5px;
}
.login h2{
  padding: 0px 18px 0;
  font-size: 1.5em;
  font-weight: 600;
}
.sign{
  width: 100%;
  padding: 40px;
}
.form-group{padding: 15px 20px;}
.form-group{
  margin-bottom: 0 !important;
}

#Email, #Password{
  padding: 12px;
  border-radius: 0 !important;
}
.inner-addon{
  position: relative;
  border-radius: none;
}

/*-- style icon --*/
.inner-addon .btn{
  position: absolute;
  padding: 4px 9px;
  top: 10px;
  color: chocolate;
  background-color: #F9F4BD;
  border-radius: 2px;
  font-size: 0.8em;
}

/*-- align-icon --*/
.inner-addon .btn{ right: 9px;}

/*-- add padding  --*/
.inner-addon input{ padding-right: 30px;}

.checkbox{
  margin: 10px 15px;
  padding: 10px 8px;
  font-weight: 600;
  color: rgb(149, 165, 166);

}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
/* change checkbox color */
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-top: 3px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox-info input[type="checkbox"]:checked + label::after {color: #fff;}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-top: 3px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
#remember{ margin: 3px 0;}

span a{
  float: right;
  color: #67C0E2;
}

.btn.btn-primary{
  width:92%;
  margin: 0 20px;
  background-color: #0896D6;
  color: white;
  font-size: 22px;
}

div>p {
   width: 91%;
   text-align: center;
   border-bottom: 2px solid silver;
   line-height: 0.1em;
   margin: 20px 21px;
   color: #F3F8FE;
}

div>p span {
    background: #F3F8FE;
    padding:0 10px;
    color: silver;
    font-size: 13px;
  font-weight: 600;
}

.btn.btn-primary{
  box-shadow: 0 3px 0 0 #007299;
  font-weight: 700;
}

.row{padding:  0px 18px;}

.btn.btn-social span { opacity: 0.5;}
.row a{font-weight: 700;}
